-- Supabase Database Schema

-- 1. GUESTBOOK TABLE
CREATE TABLE IF NOT EXISTS public.guestbook (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    created_at TIMESTAMPTZ DEFAULT now(),
    user_id UUID,
    name TEXT NOT NULL,
    avatar_url TEXT,
    message TEXT NOT NULL,
    is_pinned BOOLEAN DEFAULT false,
    liked_by TEXT
);

alter table public.guestbook enable row level security;

create policy " Anyone can read guestbook\ on public.guestbook for select using (true);
create policy \Authenticated users can insert entries\ on public.guestbook for insert with check (auth.role() = 'authenticated');

-- 2. MESSAGES TABLE (Contact Form)
CREATE TABLE IF NOT EXISTS public.messages (
 id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
 created_at TIMESTAMPTZ DEFAULT now(),
 name TEXT,
 email TEXT NOT NULL,
 message TEXT NOT NULL
);

alter table public.messages enable row level security;

create policy \Anyone can insert messages\ on public.messages for insert with check (true);
